---
import { Image } from 'astro:assets'
import footerImage from '../assets/img/footer.png'
const currentYear = new Date().getFullYear()
---

<footer class="bg-black pb-16 pt-6">
  <section style="padding: 0 15px;">
    <div class="container">
      <Image src={footerImage} alt="" />
    </div>
  </section>
</footer>
