---
import { Icon } from 'astro-icon/components'

const { imageSrc = 'https://picsum.photos/400/500', imageAlt = '', header, subHeader } = Astro.props
---

<section class="jumbotron my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1>
          {header}
        </h1>
        {subHeader && <p>{subHeader}</p>}
        <div class="flex flex-col gap-3 min-[500px]:flex-row"><slot /></div>
      </div>
      <img class="hidden lg:block" src={imageSrc} alt={imageAlt} decoding="async" width="500" height="400" />
    </div>
  </div>
</section>

<style lang="scss" is:global>
  .jumbotron {
    background-color: var(--primary-300);
    background-image: radial-gradient(var(--primary-200), transparent);
    color: #fff;
    margin-bottom: 2rem;
    border-radius: 0 !important;

    .button {
      color: #fff;

      &.primary {
        background-color: #fff;
      }
    }
  }
</style>
